/* General stuff */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: bold-font;
    src: url(./fonts/medium.ttf);
}
  
  @font-face {
    font-family: light-font;
    src: url(./fonts/regular.ttf);
}

/* Body */

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon {
    font-family: light-font;
}

/* Screen Queries */

@media (orientation: landscape) {
    .App {
        
    }
    
    .coming-soon {
        font-size: 3vw;
    }

    .background {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: aliceblue;
        background-image: url(./public/bg-desktop.png);
        background-position: center;
        opacity: 0.2;
        background-repeat: repeat;
    }
}

@media (orientation: portrait) {
    .App {
        overflow: hidden;
    }

    .background {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: aliceblue;
        background-image: url(./public/bg-mobile.png);
        background-position: center;
        opacity: 0.2;
        background-repeat: repeat;
    }

    .coming-soon {
        font-size: 4vh;
    }
    
}